.sidebar {
  background: var(--dt-secondary-background);
  display: flex;
  justify-content: center;
  grid-column: 5;
  grid-row-start: 1;
  box-sizing: border-box;

  & > * {
    position: fixed;
  }
}

