.layout {
  height: 100vh;
  display: grid;
  grid-column-gap: 36px;
  grid-template-columns: auto auto 1fr auto 104px;
}
.layout_content {
  min-height: 100vh;
  margin-top: 81px;
  grid-column: 3;
}