@import "styles/mixins/flex";

.layout {
  height: 100vh;
  display: grid;
  grid-column-gap: 36px;
  grid-template-columns: auto auto 1fr auto 104px;
}
.layout_content {
  margin-top: 81px;
  grid-column: 3;
  @include vertical-flex;
  gap: 24px;
}
.layout__horiz_panel {
  @include horizontal-flex;
  flex-wrap: wrap;
  gap: 24px;
}