@import "styles/mixins/container";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  gap: 16px;
  cursor: pointer;
  &_content {
    padding: 24px;
    @include container;
    border-radius: 16px;
  }

}
