@import "../../styles/mixins/container";
@import "../../styles/mixins/flex";

.container {
  @include vertical-flex;
  gap: 24px;
}

.item {
  display: flex;
  gap: 16px;
  cursor: pointer;
  &_content {
    padding: 24px;
    @include container;
    border-radius: 16px;
    width: 100%;
    display: flex;
    @include vertical-flex;
    gap: 8px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.total {
  font-size: 18px;
  font-family: Gilroy-Regular;
  padding: 4px 16px;
  background: #2E2E31;
  border-radius: 8px;
  width: fit-content;
}