@import "styles/mixins/flex";

.item {
  box-sizing: border-box;
  border-radius: 8px;
  transition: 0.2s;
  display: flex;
  cursor: pointer;
  border: 2px solid var(--dt-secondary-background);
  &:hover {
    border: 2px solid var(--dt-border-darker);
  }
  > * {
    padding: 12px;
  }
}

.container {
  @include vertical-flex;
  gap: 16px;
  padding: 28px 0;
}