@import "styles/mixins/flex";

.container {
  @include vertical-flex;
  gap: 16px;
  width: fit-content;
  > button {
    display: flex;
    line-height: 0;
    border-radius: 8px;
    > * {
      padding: 8px;
    }
  }
  .vote {
    transition: .2s;
    background: var(--dt-containers-background);
    border: 2px solid var(--dt-containers-background);
    &__up {
      border: 2px solid var(--green);
      background: transparent;
    }
    &__down {
      border: 2px solid var(--red);
      background: transparent;
    }
  }
}
