@import "styles/mixins/textarea";
@import "styles/mixins/container";
@import "styles/mixins/flex";
@import "styles/mixins/button";

.container {
  @include horizontal-flex;
  gap: 36px;
}

.editor {
  @include vertical-flex;
  > &__input {
    @include textarea;
    width: 100%;
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
  }
}

.fixed_wrapper {
  width: 52px;
}
.edit_panel {
  @include container;
  @include vertical-flex;
  background: var(--dt-containers-background);
  gap: 8px;
  position: fixed;
  &, & svg {
    padding: 8px;
  }
  &__button {
    @include btn;
    width: 36px;
    height: 36px;
    font-size: 24px;
    line-height: 0;
    font-family: "Times New Roman", serif;
  }
}