@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    /* bad or ok ??? */
    color: var(--dt-primary-font);
}
body {
    line-height: 27px;
    font-family: 'Nunito';
    background: var(--dt-primary-background);
}
a {
    text-decoration: none;
}