@mixin styleIcons($class) {
  cursor: pointer;
  display: flex;
  path {
    transition: .2s;
    stroke: var(--default-icon);
  }
  &__active, &:hover {
    path {
      stroke: var(--#{$class});
    }
  }
}

.default-icon {
  @include styleIcons('default-icon')
}
.green {
  @include styleIcons('green')
}
.red {
  @include styleIcons('red')
}
.alfa-white {
  @include styleIcons('default-icon');
  path {
    stroke: var(--alfa-white);
  }
}